<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<h5>Apartments</h5>
<ul>
<% @building.apartments.each do |apartment| %>
<li>
  <%= link_to apartment.number, apartment_path(apartment) %>
</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
